    .document{
        padding: 5px;
        margin:  5px;
        width: 100%;
        clear:both;
    }
    .layer{
        padding: 5px;
        margin:  5px;
        width: 100%;
        clear:both;
    }
    .title{
        font-weight: bold;
        text-align: center;
    }
    .plot_parent{
        float:left;
    }
